*{
    box-sizing: border-box;
}
body, html {
    margin: 0; /* Verwijder de standaard marges */
    padding: 0; /* Optioneel: verwijder de standaard padding */
}

body{
    display: flex;
    align-items: flex-start;



}

.nav{
    display: flex;
    width: 240px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;



}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;


    background: rgba(45, 212, 187, 0.07);


}

.backdrop{
    width: 240px;
    height: 100vh;
    position: absolute;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0.89) 0%, rgba(34, 34, 34, 0.78) 100%);

}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;

}
.logo-div{
    display: flex;
    height: 48px;
    padding: 0px 8px 0px 21px;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    border-bottom: 1px solid rgba(184, 184, 184, 0.11);
}


.content-center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.container-01{
    display: flex;
    padding: 16px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    border-bottom: 1px solid rgba(184, 184, 184, 0.11);
}


.sidebar-01{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}



.sidebar-01-backdrop{
    display: flex;
    height: 32px;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;

    border-radius: 6px;
}

.sidebar-01-backdrop:hover{
    background: rgba(184, 184, 184, 0.13);
    cursor: pointer;
}

.sidebar-01-backdrop:hover.whiteMode{
    background: rgba(188, 189, 194, 0.20);

    cursor: pointer;
}

.backdrop-container{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;

}



.backdrop-container p{
    height: 20px;
    flex: 1 0 0;

    overflow: hidden;
    color: #B8B8B8;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* inter/body/sm/400 - regular */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}


.intend{
    display: flex;
    height: 20px;
    padding-right: 12px;
    align-items: center;
}
.intend img{
    width: 0px;
    align-self: stretch;
}






.sidebarside{
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;



}

.content-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    /*zet het helamaal onder*/
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}
.module{
    display: flex;
    padding: 16px 8px 8px 8px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid rgba(184, 184, 184, 0.11);
}
.items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}
.item-bar{
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.items-backdrop{
    display: flex;
    height: 32px;
    padding: 6px 0px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;

    border-radius: 6px;
}

.bottom-items-container{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.bottom-items-container a{
    overflow: hidden;
    color: #B8B8B8;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* inter/body/sm/400 - regular */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */

    height: 20px;
    flex: 1 0 0;
    text-decoration: none;
}

.intent-horizontal{
    display: flex;
    height: 20px;
    padding-right: 12px;
    align-items: center;
}
.intent-horizontal img{
    width: 0px; align-self: stretch;
}


.LogoOnWhite{
    position: absolute;
    left: -705.019px;
    bottom: 0px;
    mix-blend-mode: multiply;
    filter: blur(64px);

}

.navBar{
    display: flex;
    padding: 0px 24px;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;

    border-bottom: 1px solid rgba(184, 184, 184, 0.09);
    background:  rgba(23, 23, 23, 0.90);
    backdrop-filter: blur(8px);
    margin-left: 0px;

}

.bodyRechts{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;

    border-left: 1px solid rgba(184, 184, 184, 0.09);


}

.search{
    display: flex;
    height: 47px;
    justify-content: flex-end;
    align-items: center;
}

.headerAvatar{
    display: flex;
    padding-left: 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 16px;
}

.box{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.mixedAvatar{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.avatarIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;


}

.avatarIconContainer{
    display: flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 108px;
    background: rgba(45, 212, 187, 0.86);

    /* blur/bg/acrylic */
    backdrop-filter: blur(30px);

}
.avatarIconFixedContainer{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
#avatarIconTxt{
    color: rgba(0, 0, 0, 0.91);
    text-align: center;

    /* inter/body/sm/500 - medium */
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}
.segment{
    display: flex;
    width: 88px;
    padding: 2px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    background: rgba(0, 0, 0, 0.20);

    /* el/inner/xs ↓ */
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06) inset, 0px 0px 1px 0.5px rgba(0, 0, 0, 0.03) inset;
}
.boxBtnContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}
.mixedNotification{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    position: relative;
}


#notificationBtn{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#notificationBtn:hover{
    cursor: pointer;
}

.notificationDot{
    position: absolute;
    right: 4px;
    top: 5px;
    width: 6px;
    height: 6px;
    border-radius: 108px;
    border: 0.5px solid #FFF;
    background: #F87171;

    /* el/basis/sm */
    box-shadow: 0px 4px 4px -4px rgba(79, 81, 89, 0.32), 0px 2px 5px -2px rgba(79, 81, 89, 0.03), 0px 1px 0px 0px rgba(255, 255, 255, 0.06) inset, 0px 0.5px 0px 0px rgba(255, 255, 255, 0.06) inset;

}

.notificationLeadIcon{
    display: flex;
    width: 16px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.navBarNotifications{
    display: none;
    width: 356px;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 32.5px;
}

.notificationBackdrop{
    /*display: flex;*/
    width: 354px;
    height: 378px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1px;
    border-radius: 8px;
    /*background: #FFF;*/

    /* dp/basis/xl */
    box-shadow: 0px 8px 12px -6px rgba(79, 81, 89, 0.16), 0px 16px 24px -8px rgba(79, 81, 89, 0.20), 0px 0px 0px 1px rgba(188, 189, 194, 0.20), 0px 1px 0px 0px rgba(255, 255, 255, 0.06) inset, 0px 0.5px 0px 0px rgba(255, 255, 255, 0.06) inset;
}

.NotificationTab{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    padding: 8px;
}
.notificationSegment{
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;

    border-radius: 8px;
    background: rgba(9, 9, 11, 0.02);

    /* el/inner/xs ↓ */
    box-shadow: 0px 1px 1px 0px rgba(79, 81, 89, 0.06) inset, 0px 0px 1px 0.5px rgba(79, 81, 89, 0.03) inset;
}


.notificationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    align-self: stretch;
    padding: 8px;
}

.notificationItemBar{
    display: flex;
    padding: 8px 8px 8px 12px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 10px;
}

.notificationItemBar:hover{
    cursor: pointer;
    border-radius: 10px;
    background: rgba(188, 189, 194, 0.15);

    /* el/inner/xs ↑ */
    box-shadow: 0px -1px 0px 0px rgba(188, 189, 194, 0.20) inset;
}

.notificationItemBarContent{
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
}

.itemBarContent{
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
}

.ItemBarIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.ItemBarIconContainer img{
    display: flex;
    width: auto;
    height: auto;
    padding: 3px 1.259px;
    justify-content: center;
    align-items: center;

    border-radius: 3px;

}
.itemBarTextContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}
.ItemBarHeaderTxt{


    color: #707480;

    /* inter/body/sm/500 - medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}

.ItemBarHeaderTxt span{
    overflow: hidden;
    color: #18181B;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* inter/body/sm/500 - medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin: 0;
}

.ItemBarDescTxt{
    color: #707480;
    text-align: right;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    margin: 0;
}


.segmentCellTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.segmentCellTextContainer:hover{
    cursor: pointer;
}

.segmentCellTextContainer p{
    color: #18181B;
    text-align: center;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
}


.segmentCellNotification{
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.segmentCellNotification .segmentSelected{
    border-radius: 6px;
    background: #FFF;

    /* dp/loop/basis/1dp-muted */
    box-shadow: 0px 4px 4px -4px rgba(79, 81, 89, 0.32), 0px 2px 5px -2px rgba(79, 81, 89, 0.03), 0px 2px 14px -2px rgba(79, 81, 89, 0.12), 0px 0px 0px 1px rgba(188, 189, 194, 0.30), 0px 1px 1px 0px rgba(188, 189, 194, 0.20);
}

.segmentCellTextContainer p.notselected{
    color: #707480;
}

.segmentCell{
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;

}

.segmentWhiteModeSelected{


    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 4px -4px rgba(79, 81, 89, 0.32), 0px 2px 5px -2px rgba(79, 81, 89, 0.03), 0px 2px 14px -2px rgba(79, 81, 89, 0.12), 0px 0px 0px 1px rgba(188, 189, 194, 0.30), 0px 1px 1px 0px rgba(188, 189, 194, 0.20);
}


.segmentCellRechts{

    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;


}

.segmentDarkModeSelected{
    border-radius: 6px;
    background: linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0.98) 100%);

    /* dp/loop/basis/1dp-muted */
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.32), 0px 2px 5px -2px rgba(0, 0, 0, 0.03), 0px 2px 14px -2px rgba(0, 0, 0, 0.12), 0px 0px 0px 0.5px #000, 0px 0px 0px 1px rgba(184, 184, 184, 0.22) inset, 0px 1px 0px 0px rgba(255, 255, 255, 0.06) inset, 0px 0.5px 0px 0px rgba(255, 255, 255, 0.06) inset;
}



.segmentCellIcon{
    display: flex;
    width: 16px;
    height: 20px;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease;


}
.segmentCellIcon:hover {

;
}
.segmentCellRechts:hover{
    cursor: pointer;
    transform: scale(1.1)
}
.segmentCell:hover{
    cursor: pointer;
    transform: scale(1.1)
}

.segmentCell, .segmentCellRechts {
    /* Zorg ervoor dat de overgangen en animaties hier worden gedefinieerd */
    transition: all 0.3s ease; /* Je kunt de overgangstijd aanpassen */
}


.noHoverAnimation:hover {
    transform: none !important; /* Verwijder eventuele transformaties op hover */
    opacity: 1 !important; /* Behoud de volledige doorzichtigheid */
    /* Voeg eventuele andere verwijderingen van hoveranimaties toe */
}

.notificationTabMixedBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.notificationTabBtnRechts{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
}
.notificationTabBtnRechtsIcon{
    display: flex;
    width: 16px;
    height: 24px;
    justify-content: center;
    align-items: center;
}



.searchBar{
    display: flex;
    padding: 8px 0px 8px 16px;
    align-items: center;
    gap: 16px;
}

.searchNavBar{
    display: flex;
    width: 240px;
    padding: 6px 6px 6px 12px;
    align-items: center;
    gap: 8px;

    border-radius: 6px;
    background: rgba(9, 9, 11, 0.02);

    /* el/inner/xs ↑ */
    box-shadow: 0px -1px 0px 0px rgba(188, 189, 194, 0.20) inset;
}

.searchIconBox{
    display: flex;
    width: 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.searchPlaceHolder{
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;

}

.Inputsearch{
    height: 20px;
    width: 0;
    flex: 1 0 0;

    background: none;
    border: none;
    outline: none;

    overflow: hidden;
    color: #BCBDC2;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* inter/body/sm/400 - regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    border: none;
    text-decoration: none;
}
.searchBarKey{
    display: flex;
    align-items: center;
    gap: 4px;
}

.keys{
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    background: #FFF;

    box-shadow: 0px 4px 4px -4px rgba(79, 81, 89, 0.32), 0px 2px 5px -2px rgba(79, 81, 89, 0.03), 0px 0px 0px 1px rgba(188, 189, 194, 0.25), 0px 1px 1px 0px rgba(188, 189, 194, 0.20);
}
.keys p{
    color: #707480;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.menuList{
    display: none;
    width: 220px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 7px;
    position: absolute;
    top: 44px;

}

.mixedAvatar:hover .menuList {
    display: flex;

}



.menuListBackdrop{
    /*display: flex;*/
    width: 220px;
    height: 284px;
    justify-content: center;
    align-items: center;
    margin-top: 4px;

    position: absolute;

    border-radius: 8px;
    background: #FFF;

    /* dp/basis/xl */
    box-shadow: 0px 8px 12px -6px rgba(79, 81, 89, 0.16), 0px 16px 24px -8px rgba(79, 81, 89, 0.20), 0px 0px 0px 1px rgba(188, 189, 194, 0.20), 0px 1px 0px 0px rgba(255, 255, 255, 0.06) inset, 0px 0.5px 0px 0px rgba(255, 255, 255, 0.06) inset;
}

.menuHeader{
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid rgba(188, 189, 194, 0.20);
}


.headerContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 12px;
}
.menuAvatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
}
.menuAvatarContainer{
    display: flex;
    width: 32px;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 108px;
    background: #2DD4BB;


    backdrop-filter: blur(30px);
}
.menuAvatarContainerFixed{
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.menuAvatarContainerFixed p {
    color: rgba(0, 0, 0, 0.91);
    text-align: center;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
#MenuAvatarDot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;

}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}
.infoContainer h3{
    margin: 0;
    color: #18181B;

    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.infoContainer h4{
    margin: 0;
    height: 12px;
    align-self: stretch;
    overflow: hidden;
    color: #707480;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}

.menuContainer{
    display: flex;
    padding-bottom: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;


}

.line-off{
    display: flex;
    padding: 4px 4px 0px 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.menuContainerItemList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.menuItemContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.menuItem{
    display: flex;
    height: 32px;
    padding: 6px 8px;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
}

.menuItem:hover{
    cursor: pointer;
    background: rgba(188, 189, 194, 0.20);
}

.itemContentContainer{
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
}
.ItemMainContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.itemLeadIcon{
    display: flex;
    width: 16px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.ItemMainContainer p{
    color: #18181B;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.line-on{
    display: flex;
    padding: 4px 4px 0px 4px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    border-top: 1px solid rgba(188, 189, 194, 0.20);
}

.menuContainer2{
    display: none;
    padding-bottom: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;

}